@charset "UTF-8";
footer {
    position: fixed;
    color: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    text-align: center;
    border-top: 1px solid #CCCCCC;
}
footer p {
    position: absolute;
    color: black;
    text-align: center;
    top: 10%;
    bottom: 0;
    right: 0;
    left: 0;
}
